@media (min-width: 500px) {
    body {
        margin-top: 4%;
        margin-bottom: 4%;
        background-color: #fdfdfd;
    }
    .links{
        margin-top: 40px;
    }
}

@media (max-width: 500px){
    body {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #fdfdfd;
    }
    
    .links{
        margin-top: 10px;
    }
}

html{
    font-family: 'Roboto', sans-serif;
    color: #444;
}



a{
    text-decoration: none;
    color: #111;
}

ul{
    list-style-type: none;
}

.left-bar{
    border-left: solid 1px #aaa;
    padding-left: 2em;
}

.bottom-bar{
    border-bottom: solid 1px #aaa;
    padding-bottom: .4em;
    margin-bottom: 1em;
}

.blog{
    padding-left: 0;
}

.blog-post{
    position:relative;
}

.blog-date{
    position:absolute;
    right:0px;
    top:4px;
}