.work {
}

.job {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: solid 1px #aaa;
}

.work .company {
    display: inline;
}

.work .company-description {
    text-align: left;
    margin-left: 5px;
    color: grey;
    display: inline;
}

.work .job-title {
    text-align: right;
    color: grey;
}

ul .tag-list{
    margin-top: 10px;
    padding: 0px;
    text-align: right;
}

ul .tag-list .tag {
    padding: 3px;
    background-color: grey;
    color: white;
    display: inline;
}